modules = ["nodejs-20", "python-3.12", "nix", "bash"]
run = "npm install && npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 3000
